[submodule "third_party/pg_duckdb"]
	path = third_party/pg_duckdb
	url = https://github.com/relytcloud/pg_duckdb.git
[submodule "third_party/ducklake"]
	path = third_party/ducklake
	url = https://github.com/relytcloud/ducklake.git
